h1{
  color: blue;
}
/*cambiar color de titulopor otro que no sea azul*/
div{
  text-align: center;
}

#titulo{
  background-color:bisque;
}

#btnAgregar{
  background-color: burlywood;
}
